@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Karla&display=swap");
/*::-webkit-scrollbar {
  height: 5px;
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #656acd;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: blue;
}*/
